@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Jost:wght@700&family=Poppins:wght@400;700&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Kaushan+Script&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lobster&family=Oswald:wght@400;600&family=Pacifico&family=Squada+One&display=swap');

#appContainer {
  margin-top: 83px;
}

.container {
  width: 100%;
  margin-top: 25px;
  background: #f9f9f9;
  font-size: 20px;
  padding-top: 25px;
}

.parallax-window {
  min-height: 400px;
  background: transparent;
  width: 100%;
  display: 'flex';
  align-items: center;
  justify-content: 'flex-end';
}

.navpad {
  padding-top: 50px;
}

.parallax-window h1,
.parallax-window p {
  z-index: 3;
  position: relative;
  color: white;
  text-align: right;
  align-items: flex-end;
}

.parallax-window h1 {
  padding: 90px 55px;
}

.parallax-window h1 span {
  font-size: 1.5em;
  font-family: 'Lobster', cursive;
}

.parallax-window p {
  max-width: 400px;
  /* background-color: whitesmoke;
  opacity: 0.4; */
}

.bgOverlay {
  background-color: whitesmoke 0.4;
  z-index: 2;
  position: relative;
}

/* .content {
  padding: 30px;
} */
